body {
  background: url('../images/Seinfeld2.jpg');

  color: black;



}

h1, h2 {

text-align: center;
}

#questions {

	box-sizing: border-box;
	margin: auto;
    width: 50%;
    border: 3px;
    border-color: #DB0D36;
    padding: 10px;
    background-color: gold;
}

#endresults {

	box-sizing: border-box;
	margin: auto;
    width: 50%;
    border: 3px;
    border-color: #DB0D36;
    padding: 10px;
    background-color: gold;
}

#finished {

	margin-left: 45px;
}